---
pagination:
    data: contentful-photos
    size: 1
    alias: portfolio-item
    addAllPagesToCollections: true
permalink: "{{ portfolio-item.slug | slug }}/"
tags: "photoSet"
layout: layout.liquid

renderData:
    title: "{{ portfolio-item.itemTitle }}"

---

<div class="is-multiline">
    <img src="{{portfolio-item.thumbnail.fields.file.url}}" alt="Image from {{ portfolio-item.itemTitle }}" loading="lazy">
    {{portfolio-item.content | renderRichTextAsHtml | safe }}
</div>
