---
pagination:
    data: contentful-blog
    size: 1
    alias: post
    addAllPagesToCollections: true
permalink: "/blog/{{ post.slug | slug }}/"
tags: "blogPost"
layout: layout.liquid

renderData:
    title: "{{ post.title }}"

---


<div class="columns is-multiline">
    <p>{{post.plainFontContent}}</p>
</div>



<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="https://www.loksangho.com/blog/{{ post.slug | slug }}/" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="IN/Share" data-url="https://www.loksangho.com/blog/{{ post.slug | slug }}/"></script>
<a data-pin-do="embedPin" data-pin-width="large" href="https://www.loksangho.com/blog/career-change/"></a>